<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}HTTP Status Codes &mdash; httpstatuscodes.org{% endblock title %}</title>
    <meta name="description" content="{% block description %}HTTP Status Code directory, with definitions, details and helpful code references.{% endblock description %}">
    <meta name="keywords" content="{% block keywords %}http status, http status codes, status codes, http codes{% endblock keywords %}">
    <link type="text/plain" rel="author" href="{{ url_for('home.humans') }}">
    <!-- Cyberpunk/Synthwave Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Orbitron:wght@400;700;900&family=VT323&family=Share+Tech+Mono&family=Chakra+Petch:wght@300;400;600;700&family=Audiowide&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/cyberpunk.css') }}">
    <link rel="shortcut icon" href="{{ url_for('static', filename='img/favicon.ico') }}" type="image/x-icon">
</head>
<body>
{% block content %}
{% endblock content %}
<footer class="content">
    <div class="row">
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16"><path fill="currentColor" d="M7.293.707A1 1 0 0 0 7 1.414V2H2a1 1 0 0 0-1 1v2a1 1 0 0 0 1 1h5v1H2.5a1 1 0 0 0-.8.4L.725 8.7a.5.5 0 0 0 0 .6l.975 1.3a1 1 0 0 0 .8.4H7v5h2v-5h5a1 1 0 0 0 1-1V8a1 1 0 0 0-1-1H9V6h4.5a1 1 0 0 0 .8-.4l.975-1.3a.5.5 0 0 0 0-.6L14.3 2.4a1 1 0 0 0-.8-.4H9v-.586A1 1 0 0 0 7.293.707"/></svg>
        {% if current_lang == default_lang %}
        <a href="{{ url_for('home.index') }}">home</a>
        <a href="{{ url_for('home.about') }}">about</a>
        <a href="{{ url_for('home.contact') }}">contact</a>
        <a href="{{ url_for('home.license') }}">license</a>
        {% else %}
        <a href="{{ url_for('home.index_i18n', lang=current_lang) }}">home</a>
        <a href="{{ url_for('home.about_i18n', lang=current_lang) }}">about</a>
        <a href="{{ url_for('home.contact_i18n', lang=current_lang) }}">contact</a>
        <a href="{{ url_for('home.license') }}">license</a>
        {% endif %}
    </div>
    <div class="version">
        <span>httpstatuscodes</span>
        <a href="https://github.com/Diavolo/httpstatuscodes/releases">v2.0.0</a>
    </div>
</footer>
<div class="b-88x31">
    <a href="{{ url_for('home.index') }}" title="HTTP Status Codes">
        <img src="{{ url_for('static', filename='img/88x31-color.gif') }}" alt="HTTP Status Codes" width="88" height="31">
    </a>
</div>
</body>
</html>