{% extends "base.html" %}
{% block content %}
<section class="content one">
{{ headline|safe }}
</section>
<ul class="share">
    <li><a href="https://twitter.com/intent/tweet?hashtags=httpstatuscodes&text=Helpful%20HTTP%20Status%20Code%20reference%20site&url=https%3A%2F%2Fhttpstatuscodes.org">&commat; Share on Twitter</a></li>
    <li><a href="https://github.com/Diavolo/httpstatuscodes">&bigstar; Star on GitHub</a></li>
    <li><a href="https://gitlab.com/Diavolo/httpstatuscodes">&bigstar; Star on GitLab</a></li>
</ul>
{% include "navbar.html" %}
<section class="container codes">
    <ul>
    {% for items in http_codes_collection.values() %}
        <li class="mt-4">
            <h2 class="category">
                <span class="{{items['class']}}">{{items["svg"]|safe}}</span>
                <span class="{{items['class']}}">{{items["title"]|safe}}</span>
            </h2>
            <ul class="mt-1">
            {% for http_code in items["codes"] %}
                <li class="code-link">
                    {% if current_lang == default_lang %}
                    <a class="space-x-2" href="{{url_for('home.get_code', code=http_code['code'])}}">
                        <span class="{{items['class']}}">{{http_code["code"]}}</span> <span>{{http_code["title"]}}</span>
                    </a>
                    {% else %}
                    <a class="space-x-2" href="{{url_for('home.get_code_i18n', lang=current_lang, code=http_code['code'])}}">
                        <span class="{{items['class']}}">{{http_code["code"]}}</span> <span>{{http_code["title"]}}</span>
                    </a>
                    {% endif %}
                </li>
            {% endfor %}
            </ul>
        </li>
    {% endfor %}
    </ul>
</section>
{% endblock content %}